<h2><%=@developer.name %></h2>

<h3>Games: </h3>
<ul>
 <% @developer.games.uniq.each do |g| %>
   <li><a href="/games/<%=g.slug%>"><%=g.name%></a></li>
 <% end %>
</ul><br>

<h3>Genres: </h3>
<ul>
  <% @developer.genres.uniq.each do |g| %>
    <li><a href="/genres/<%=g.slug%>"><%=g.name%></a></li>
  <% end %>
</ul>
