<h1><%=@profile.username%></h1>
<h1>Games</h1>
<ul>
  <% @games.uniq.each do |u|%>
      <li><a href="/games/<%=u.slug%>"><%= u.name %></a></li>
  <% end %>
</ul><br><br>

<h1>Developers</h1>
<ul>
  <% @developers.uniq.each do |u|%>
      <li><a href="/developers/<%=u.slug%>"><%= u.name %></li>
  <% end %>
</ul><br><br>

<h1>Genres</h1>
<ul>
  <% @genres.uniq.each do |u|%>
      <li><a href="/genres/<%=u.slug%>"><%= u.name %></li>
  <% end %>
</ul><br><br>
